<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7598e4a3-00ae-4ed0-a8f0-dfeda737201b/resourcegroups/DoctorWeb/providers/Microsoft.Web/sites/CrudInterface20170425085135</ResourceId>
    <ResourceGroup>DoctorWeb</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://crudinterface20170425085135.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>crudinterface20170425085135.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CrudInterface20170425085135</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CrudInterface20170425085135</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=NOTEBOOK-HLA-PC\HLADEVELOPER;Initial Catalog=DoctorWeb;Persist Security Info=True;User ID=heinrich;Password=hla060174" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CrudInterface.Models.ApplicationDbContext, CrudInterface" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DoctorWebConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=NOTEBOOK-HLA-PC\HLADEVELOPER;Initial Catalog=DoctorWeb;Persist Security Info=True;User ID=heinrich;Password=hla060174" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-UISGS37\SQLEXPRESS;Initial Catalog=DoctorWeb;User ID=heinrich;Password=hla060174" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DoctorWebConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-UISGS37\SQLEXPRESS;Initial Catalog=DoctorWeb;User id=heinrich;Password=hla060174" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DoctorWebConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=NOTEBOOK-HLA-PC\HLADEVELOPER;Initial Catalog=DoctorWeb;Persist Security Info=True;User ID=heinrich;Password=hla060174</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=NOTEBOOK-HLA-PC\HLADEVELOPER;Initial Catalog=DoctorWeb;Persist Security Info=True;User ID=heinrich;Password=hla060174</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>